
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div> 
        <div class="container">
            <strong>
                <span class="">Thank you for your interest! Please provide us with some extra 
                information to receive a personalized proposal with pricing and examples.</span>
            </strong>
        </div>
        <form>
            <div id="question1">
                <div class="container">
                    <div class="panel-heading">
                        <span>I want to build</span>
                        <span class="display-inline-block font-small mandatory-indicator">
                            <i class="icon-mandatory"></i>
                        </span>
                    </div>
                </div> 
                <div class="container answers">
                    <label>
                        <input type="checkbox" />
                    </label>
                </div> 
            </div>
        </form>
    </div>
</body>
</html>
