@model WebApplication1.ViewModels.SurveyVM
@{
    ViewBag.Title = "BioRisk Scale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/landing_pageStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        @*Brand and toggle get grouped for better mobile display*@
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BioRisk Survey</a>
        </div>
        @*Collect the nav links, forms, and other content for toggling*@
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        @{
            if (!User.Identity.IsAuthenticated)
            {

                <ul id="accountBtns" class="nav navbar-nav">
                    <li>
                        <button type="button" class="btn" data-toggle="modal" data-target="#accountModal">Create an Account</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Login</button>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }
        @*<div id="userModalIcon" class="navbar-form navbar-right">
            <button type="button" class="btn btn-primary glyphicon glyphicon-user" data-toggle="modal" data-target="#userModal"></button>
        </div>*@
        @{
            if (User.Identity.IsAuthenticated)
            {
                <div id="userModalIcon" class="navbar-form navbar-right">
                    <button type="button" class="btn btn-primary glyphicon glyphicon-user" data-toggle="modal" data-target="#userModal"></button>
                </div>
            }
        }
    </div>
    </div>
</nav>

<div class="jumbotron">
    <h1 style="color: ghostwhite"><em>Welcome to the BioRisk Scale</em></h1>
</div>

<div class="row">
    <section id="survey">
        <h2>Evaluate the risks presented by biological agents (biorisk) through this simple <a style="color:orange" href="/Home/Survey"> survey</a>.</h2>
    </section>

</div>

<div class="row">
    <section id="about">
        <div class="col-md-6">
            <h2><em>About us</em></h2>
            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#helpModal">How to</button>*@
            <p>
                Welcome to the biorisk survey.
                As the world becomes more connected and biological science becomes more advanced, it is imperative that we all have access to risk evaluation for biological threats. Our goal is to ensure the long-term security of the world by providing a simple and accessible architecture for biorisk assessment. To this end, we have designed this survey to assess your local and national biothreat.
            </p>

            @*<p>Please find the key below.</p>*@

            <p><a href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <img src="https://exceptionallyaveragethroughtheireyes.files.wordpress.com/2021/06/georgetown_seal_bluergb-255x300-1.jpeg?w=300" />
        </div>
    </section>

    <section id="footer">
        <footer>
            <h2><em>Contact</em></h2>
            <p><a href="mailto:mail@example.com">mail@example.com</a>@*<br> +1 123 456 789*@</p>
            <p>3700 O St NW, Washington, DC 20057</p>
        </footer>
    </section>

</div>

<script>
    $(document).ready(function () {
     
    })
</script>

<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "2500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>